#parentDiv {
    width: 90%;
    padding: 10px;
    margin: auto;
    background: #CDCDCD;
    overflow: hidden;
}

#treeviewDiv {
    width: 250px;
    height: 500px;
    float: left;
    margin-right: 5px;
    background: #FFFFFF;
}

#tableDiv {
    display: flex;
    flex-direction: column;
    min-width: 600px;
    height: 500px;
    overflow: hidden;
}

#gridViewDiv {
    flex-grow: 1;
    overflow-y: scroll;
    margin-bottom: 3px;
}

    #gridViewDiv::-webkit-scrollbar {
        width: 1em;
    }

    #gridViewDiv::-webkit-scrollbar-track {
        background-color: #FFFFFF;
        border-radius: 25px;
    }

    #gridViewDiv::-webkit-scrollbar-thumb {
        background-color: #C2C2C2;
        border-radius: 25px;
    }

.hiddenCol {
    display: none;
}

.gridview td {
    padding: 4px;
}

.gridview th {
    padding: 10px;
}

.rowStyle td {
    border: 1px solid #CDCDCD;
}
 
.fixedHeader th {
    border: 1px solid #CDCDCD;
}

.bigCheckBox input {
    width:20px; 
    height:20px;
}

#tableFooterDiv {
    min-height: 20px;
    padding: 6px;
    background-color: #EEEEEE;
    overflow: hidden;
}

#labelDiv {
    float: left;
}

#pagerDiv {
    float: right;
}

.pagingLinkbutton {
    font: bold 11px Arial;
    padding: 2px 6px 2px 6px;
    background: rgba(0, 0, 0, 0);
    border: 1px solid #829690;
    color: black;
}

a.pagingLinkbutton:link {
    color: black;
}

.pagingLinkbutton[disabled="disabled"] {
    border: 1px solid #FEBA24;
    background-color: #FFEB86;
}
