<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="TestDBConnectionString" connectionString="Data Source=longthhust-pc;Initial Catalog=TestDB;Persist Security Info=True;User ID=longth;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="NetOffice2013_VPCPConnectionString" connectionString="Data Source=portaldb.mpi.gov.vn;Initial Catalog=NetOffice2013_VPCP;Persist Security Info=True;User ID=longth;Password=l0nTH@2016"
            providerName="System.Data.SqlClient" />
        <add name="DBCS" connectionString="Data Source=longthhust-pc;Initial Catalog=TestDB;Persist Security Info=True;User ID=longth;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>